<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <h2 class="text-xl font-semibold text-black-700 dark:text-gray-200 mb-4">Payments</h2>

  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        User Email
      </th>
      <th scope="col" class="px-6 py-3">
        Amount
      </th>
      <th scope="col" class="px-6 py-3">
        Phone Number
      </th>
      <th scope="col" class="px-6 py-3">
        Transaction Details
      </th>
      <th scope="col" class="px-6 py-3">
        Date
      </th>
      <th scope="col" class="px-6 py-3">
        Approved
      </th>
      <th scope="col" class="px-6 py-3">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td class="px-6 py-4">
          <%= payment.email %> <!-- Display the user's email -->
        </td>
        <td class="px-6 py-4">
          <%= number_to_currency(payment.amount, unit: "৳") %> <!-- Format the amount, you can adjust the currency unit -->
        </td>
        <td class="px-6 py-4">
          <%= payment.phone_number %> <!-- Format the amount, you can adjust the currency unit -->
        </td>
        <td class="px-6 py-4">
          <%= payment.transaction_info %> <!-- Format the amount, you can adjust the currency unit -->
        </td>
        <td class="px-6 py-4">
          <%= payment.created_at.strftime('%B %d, %Y') %> <!-- Format the date as needed -->
        </td>
        <td class="px-6 py-4">
          <%= payment.approved ? "Approved" : "Not Approved" %> <!-- Show approved status -->
        </td>
        <td class="px-6 py-4">
          <% unless payment.approved %>
          <%=  button_to "Approve", approve_admin_index_path(id: payment.id), method: :patch, class: "bg-green-500 text-white py-2 px-4 rounded"  %> <!-- Approve button -->
          <%  end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
