<div class="flex flex-col">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Payments" %>

  <div id="payments" class="w-full flex p-4 gap-4">
    <!-- Payment List with Scrollbar -->
    <div class="flex-1 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 m-2 overflow-y-auto max-h-[500px]">
      <div class="flex justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Payment</h5>
      </div>
      <% @payments.each do |payment| %>
        <%= render PaymentCardComponent.new(amount: payment.amount, created_at: payment.created_at, payment_method: payment.payment_method, approved: payment.approved) %>
      <% end %>
    </div>

    <!-- Payment Form -->
    <div class="flex-1 max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <%= form_with(model: @payment, class: "contents") do |form| %>
        <% if @payment.errors.any? %>
          <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

            <ul>
              <% @payment.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="flex justify-between mb-4">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Buy</h5>
        </div>

        <div class="my-5 hidden">
          <%= form.text_field :user_id, value: current_user.id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="my-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
          <%= form.number_field :amount, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="my-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Method</label>
          <%= form.select :payment_method, Payment.payment_methods.keys.map { |method| [method.humanize, method] }, { prompt: "Select a payment method" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="my-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Transaction ID</label>
          <%= form.text_field :transaction_info, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", rows: 3 %>
        </div>

        <div class="my-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
          <%= form.text_field :phone_number, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="inline">
          <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
